@import "color.css";

.aside{
    width: 15%;
    height: 70%;
    position: fixed;
    top:30%;
    left: 5%;
    z-index: 100;
    animation: anim 2s ease-in-out;
    display: flex;
    gap: 5px;
    font-family: 'Open Sans', sans-serif;
}

@keyframes anim {
    from{
        opacity: 0;
    }
    to{
        opacity : 1;
    }
}

.ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
.ul li:hover{
    font-size: .95rem;
}

li.item1:hover{
    font-size: 1.1rem;
}

.ul li{
    width: fit-content;
    height: 30px;

}
.ul7{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60%;
    justify-content: center;
}
.ul7 li:hover{
    font-size: .95rem;
}
.ul7 li{
    width: fit-content;
    height: 30px;
}
.item1{
    font-size: 1.2rem;
    font-weight: 700;
}

#serviceback{
    width: 25px;
    height: 25px;
}

@media screen and (max-width:900px){
    .aside{
        left: 2%;
        font-size: .9rem;
        width: 20%;
    }
}
@media screen and (max-width:600px){
    .aside{
        display: none;
    }
}