@import "color.css";


.h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

.tagline{
    font-size: .9rem;
    font-family: 'Raleway', sans-serif;
}

.contactform{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    font-family: 'Open Sans', sans-serif;
}

.formdiv{
    display: flex;
    gap: 1%;
}
.formdiv p{
    font-size: 3.5rem;
    font-weight: 800;
    width: 300px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.form{
    width: 50%;
}

.form h3{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.myform{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 30px;
}
.myform input{
    outline: none;
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--headingColor);
    width:80%;
    height: 25px;
    font-size: 1rem;
}



.btn{
    outline: none;
    background: transparent;
    border: none;
    height: auto;
    width:fit-content;
    padding: 10px 15px;
    color: var(--darkPrimaryColor);
    font-size: 1rem;
    letter-spacing: 1px;
    align-self: flex-end;
    margin-right: 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.btn:disabled{
    cursor: no-drop;
    color: var(--submitBtn);
}

.btn svg{
    font-size: 1.5rem;
}


@media screen and (max-width:750px) {
    .formdiv p{
    font-size: 7.4vw;
    font-weight: 800;
    width: 250px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
}
@media screen and (max-width:600px) {
    .contactform{
        width: 98%;
    }
    .formdiv p{
    font-size: 9vw;
    display: none;
    }
    .form{
        width: 98%;
    }
}