@import "color.css";


.policy{
    width: 100%;
}

.section1  {
   font-size: .8rem;
   top: 5vh;
   position: fixed;
   height: 90vh;
   width: 25%;
   padding-left: 10px;
}

.section1 ul{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 2%;
    height: 100%;
    width: 100%;
}

.section1 ul li{
    cursor: pointer;
}

.section2{
    margin-top: 50px;
    width: 100%;
    padding-left: 26%;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section2 ul{
    list-style-position: inside;
}

@media screen and (max-width:600px) {
    .section1{
        display: none;
    }
    .section2{
        width: 98%;
        padding-left: 1%;
    }
}